html,
body {
  scroll-behavior: smooth;
}

/* who we are css */

#our-values .article-left {
  border-left: 6px solid #00532f;
  border-radius: 13px;
  padding-left: 15px;
  margin-left: 50%;
}

#our-values .article-left h5{
  font-weight: 650;
}

#our-values .article-right h5{
  font-weight: 650;
}
#our-values .article-right {
  border-right: 6px solid #00532f;
  border-radius: 13px;
  padding-right: 15px;
  margin-right: 50%;
}
#division a {
  color: #00532f;
  border: 2px solid #00532f;
}
#division a:hover {
  background-color: #5cffb5;
  color: black;
  border: 2px solid #5cffb5;
}

/* what we do css */

#sub-contain-section h2 {
  font-size: 30px;
}

#sub-contain-section .sub-heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  font-weight: 800;
}

#sub-contain-section .article-right {
  padding: 20px;
  border-left: 10px solid #555;
  border-radius: 50px;
}
#sub-contain-section .article-left {
  padding: 20px;
  border-right: 10px solid #555;
  border-radius: 50px;
}

.img-zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}

.img-zoom-effect:hover .img-zoom {
  transform: scale(1.4);
}

#discover .image {
  overflow: hidden;
  height: auto;
  width: 100%;
}

#discover .lead {
  padding: 10px;
}

/* responsive code */

@media (min-width: 1024px) {
  #contain-section .sub-heading {
    font-size: 60px !important;
  }
  #discover .featurette-heading {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  #contain-section .sub-heading {
    font-size: 50px !important;
  }
  #discover .featurette-heading {
    font-size: 45px;
  }
  #discover .article {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  #contain-section .sub-heading {
    font-size: 40px !important;
    line-height: normal;
  }
  #discover .featurette-heading {
    font-size: 40px;
  }

  #our-values .article-right {
    margin-right: 20px !important;
  }
  #our-values .article-left {
    margin-left: 20px !important;
  }
  #sub-contain-section .sub-heading {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  #contain-section .sub-heading {
    font-size: 37px !important;
  }
  #our-values .article-right {
    margin-right: 20px !important;
  }
  #our-values .article-left {
    margin-left: 20px !important;
  }
  #discover .featurette-heading {
    font-size: 30px;
  }
  #sub-contain-section .article-right h2,
  #sub-contain-section .article-left h2 {
    font-size: 180%;
  }
}

/*-----********************************************************
 ----> heading-section css
-------********************************************************/
#heading-section {
  width: 100%;
  height: 70vh;
  margin-top: 70px;
  text-align: center;
}

#heading-section h1 {
  margin: 0 0 50px 0;
  font-size: 90px;
  font-weight: 700;
  line-height: 56px;
  color: black;
}
.darkmode--activated #heading-section h1 {
  color: #fff;
}
#heading-section h2 {
  color: #484848;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 100;
}
.darkmode--activated #heading-section h2 {
  color: #fff;
}
#heading-section .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #00532f;
  border: 2px solid #00532f;
  margin-top: 20px;
}

#heading-section .btn-get-started:hover {
  background: #00532f;
  color: #fff;
}
#heading-section .btn-get-started2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background-color: #00532f;
  margin: 5px 0 0 10px;
}

#heading-section .btn-get-started2:hover {
  color: #00532f;
  border: 2px solid #00532f;
  background-color: white;
}

#heading-section .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #heading-section {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #heading-section {
    height: 100vh;
  }
  #heading-section .animated {
    -webkit-animation: none;
    animation: none;
  }
  #heading-section .heading-section-img {
    text-align: center;
  }
  #heading-section .heading-section-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #heading-section {
    margin-top: 20px;
  }
  #heading-section h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #heading-section h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #heading-section .heading-section-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #heading-section .heading-section-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.Industrial-contain .faq-item {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}

.Industrial-contain .faq-item i {
  color: #59ffb4;
  font-size: 24px;
  float: left;
  line-height: 0;
  padding: 13px 0 0 0;
  margin: 0;
}

.Industrial-contain .faq-item h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 10px 32px;
  font-family: "Poppins", sans-serif;
}

.Industrial-contain .faq-item p {
  font-size: 15px;
}
